@import '../App.scss';

.header {
  background-color: $white;
  padding: 1rem;
  overflow: hidden;
  height: 100px;
  transition: height 0.3s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 120;
  border-bottom: 1px solid $light-grey;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo_container {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    @include tablet {
      display: inline-block;
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  &__hamburger,
  &__cross {
    @include tablet {
      display: none;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include fonts(26px, 25px, -0px, 700);

    @include tablet {
      flex-direction: row;
    }
  }

  &__link {
    padding: 0.5rem;
    @include fonts(26px, 25px, -0px, 700);
    transition: color 0.4s ease-in-out;

    &:hover {
      color: $light-grey;
    }
  }

  &__break {
    width: 80%;
    margin: 1rem auto 2rem;
    border-bottom: 1px solid $light-grey;

    @include tablet {
      display: none;
    }
  }

  &__show {
    height: 50vh;
    position: fixed;
  }

  &__button {
    @include block-button(80%, $white, $black, $black, $light-grey);
    margin: auto;

    @include tablet {
      width: 12rem;
      display: inline;
      margin: 0;
    }
  }
}
