@import '../App.scss';

.hero {
  background-color: $black;

  @include tablet {
    display: flex;
    height: 600px;
  }

  @include desktop {
    height: 700px;
  }

  &__image {
    width: 100%;
    height: 100%;
    min-height: 500px;

    &--tablet,
    &--desktop {
      display: none;
    }

    @include tablet {
      width: calc(40% + 5px);
      height: 100%;
      order: 1;

      &--mobile {
        display: none;
      }

      &--tablet {
        display: block;
      }
    }

    @include desktop {
      width: 60%;

      &--tablet {
        display: none;
      }

      &--desktop {
        display: block;
      }
    }

    &--right {
      order: 0;
    }
  }

  &__copy-section {
    padding: 3rem;
    background-color: $black;
    min-height: 500px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &--white {
      background-color: $white;
      color: $black;
    }

    @include tablet {
      order: 0;
      width: 60%;
    }

    @include desktop {
      width: 40%;
      padding: 5rem;
    }
  }

  &__title {
    color: $white;

    &--black {
      color: $black;
    }
  }

  &__copy {
    padding: 1rem 0;
    color: $dark-grey;
  }

  &__button {
    @include arrow-button(auto, $white);
    position: relative;

    @include tablet {
      order: 1;
      display: flex;
      margin: 0.5rem 0;
    }
  }

  &__button_text {
    color: $white;
    margin: auto;
  }

  &__arrow {
    position: absolute;
    left: 90%;
  }

  &__gradient {
    background-image: linear-gradient(
      to right,
      rgb(255, 197, 147),
      rgb(188, 113, 152),
      rgb(90, 119, 255)
    );
    height: 5px;
    width: calc(50% - 3rem);
    margin-left: 3rem;

    @include tablet {
      height: auto;
      margin: 12rem 0;
      width: 8px;
      background-image: linear-gradient(
        to bottom,
        rgb(255, 197, 147),
        rgb(188, 113, 152),
        rgb(90, 119, 255)
      );
    }

    @include desktop {
      margin: 7rem 0;
    }
  }
}
