@mixin fonts($size, $line, $spacing, $weight) {
  font-size: $size;
  line-height: $line;
  letter-spacing: $spacing;
  font: $weight;
  font-family: $font-family;
}

/* Re-usable buttons */

@mixin arrow-button(
  $width,
  $colour,
  $background-colour,
  $hover-color,
  $hover-background
) {
  @include fonts(20px, 22px, 2px, 700);
  width: $width;
  color: $colour;
  cursor: pointer;
  background-color: $background-colour;
  border-radius: 50px;
  padding: 0.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: $hover-background;
    color: $hover-color;
  }
}

@mixin block-button(
  $width,
  $colour,
  $background-colour,
  $hover-color,
  $hover-background
) {
  @include fonts(20px, 22px, 2px, 700);
  width: $width;
  color: $colour;
  // margin: auto;
  cursor: pointer;
  background-color: $background-colour;
  padding: 0.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: $hover-background;
    color: $hover-color;
  }
}

/* Responsive media query mixins */

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}
