@import '../App.scss';

.stories {
  max-width: 2200px;
  margin: auto;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }

  &__relative {
    position: relative;
    height: 600px;
    overflow: hidden;

    &--headline {
      height: 600px;
    }
  }

  &__absolute {
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    transition: top 0.4s ease-in-out;

    &:hover {
      top: -20px;
      cursor: pointer;
    }
  }

  &__hidden-gradient {
    background-image: linear-gradient(
      to right,
      rgb(255, 197, 147),
      rgb(188, 113, 152),
      rgb(90, 119, 255)
    );
    height: 20px;
  }

  &__item {
    position: relative;

    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: 25%;
    }

    &--headline {
      @include tablet {
        width: 100%;
      }
    }
  }

  &__info-section {
    position: absolute;
    margin: 3rem;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: calc(100% - 6rem);

    @include tablet {
      margin: 0 2rem 1rem;
      width: calc(100% - 4rem);
    }

    &--headline {
      @include tablet {
        margin: 6rem;
        width: 50%;
        height: calc(100% - 12rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      @include desktop {
        width: 30%;
      }
    }
  }

  &__image {
    width: 100%;
    height: 600px;

    &--headline {
      height: 950px;
    }
  }

  &__copy {
    color: $white;
    margin: 1rem 0 2rem;

    &--no-bottom-margin {
      margin: 1rem 0 1rem;
    }

    &--headline {
      @include fonts(24px, 25px, -0px, 700);
      margin: 2rem 0;
    }

    &--margin-right {
      margin-right: 1rem;
    }
  }

  &__title {
    color: $white;
    line-height: 32px;

    &--headline {
      @include fonts(50px, 50px, -0px, 700);
    }
  }

  &__rule {
    border-bottom: 1px solid white;
  }

  &__btn-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;

    &--headline {
      justify-content: flex-start;
    }
  }
}
